<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vm.name %>
</p>

<p>
  <strong>String:</strong>
  <%= @vm.string %>
</p>

<p>
  <strong>Cpu:</strong>
  <%= @vm.cpu %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @vm.integer %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @vm.cost %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @vm.integer %>
</p>

<p>
  <strong>Project:</strong>
  <%= @vm.project %>
</p>

<p>
  <strong>References:</strong>
  <%= @vm.references %>
</p>

<%= link_to 'Edit', edit_vm_path(@vm) %> |
<%= link_to 'Back', vms_path %>
